.navbar-brand {
    color: black;
    font-family: Raleway;
    font-size: 2.75rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.green-clr {
    color: rgb(48, 187, 48);
}

.simple {
    color: rgb(48, 187, 48);
    font-family: 'Marck Script', cursive;
}

.green-plus {
    color: rgb(48, 187, 48);
    font-size: 45px;
}

.navbar-brand small {
    display: block;
    font-size: 16.20px;
    font-weight: bold;
    padding: 0px;
    padding-right: 20px;
    text-align: center;
}

.nav-item {
    color: black;
    font-family: Raleway;
    font-size: 16.5px;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-item:hover {
    color: rgb(5, 187, 5);
}

.purpose {
    color: black;
    font-family: Raleway;
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    padding-left: 30px;
    padding-top: 95px;
    width: 800px;
}

.form-purpose {
    color: black;
    font-family: Raleway;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 65px;
    text-align: center;
    width: 1560px;
}

.poster1 {
    padding-top: 25px;
    width: 1582px;
    height: 648px;
}

.logo-new {

    position: relative;
    margin-left: 40px;
    height: 130px;
    width: 130px;
}

.form-fields {
    border: 5px;
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
}

.try-services {
    margin-top: 60px;
}

.linebreak1 {
    border-width: 10px;
    margin-top: 100px;
}

.linebreak2 {
    border-width: 10px;
    margin-bottom: 90px;
}

.service-main {
    color: black;
    font-family: Raleway;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 105px;
    padding-bottom: 15px;
    text-align: center;
}

.service-desc {
    color: black;
    font-family: Raleway;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 285px;
    height: 60px;
    padding-bottom: 135px;
    width: 1000px;
    text-align: center;
}

.row {
    width: 1590px;
}

.icon {
    color: rgb(48, 187, 48);
    margin-left: 225px;
}

.features {
    color: black;
    font-family: Raleway;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.description {
    color: black;
    font-family: Raleway;
    font-size: 15px;
    font-weight: bolder;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    width: 280px;
    margin-bottom: 135px;
}

/*

.common-hr-line {
    border-color: black; 
    border-width: 5px;
    height: 2px;
}

*/

.unique-srv {
    padding-top: 0px;
    padding-bottom: 55px;
}

.card-header {
    color: black;
    background-color: white;
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.deploy-card-body {
    height: 650px;
}

.create-img {
    width: 330px;
    height: 65px;
}

.migrate-img {
    width: 150px;
    height: 40px;
}

.protect-img {
    width: 150px;
    height: 40px;
}

.card {
    border-width: 3px;
    align-items: center;
    height: 380px;
    width: 450px;
    margin-left: 40px;
}

.deploy-card {
    border-width: 2px;
    align-items: center;
    height: 380px;
    width: 450px;
    margin-left: 40px;
}

.card-body {
    width: 440px; 
}

.deploy-card-body {
    width: 440px; 
}

.srv-desc {
    font-family: Raleway;
    font-size: 15px;
    font-weight: bolder;
}

.button {
    text-align: center;
}

.btn-success:hover {
    background-color: black;
}

.details-card {
    margin-bottom: 60px;
}

.cause {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.poster2 {
    width: 1582px;
    height: 670px;
    margin-bottom: 115px;
}

.srv {
    color: rgb(48, 187, 48);
}

.ecosystem {
    color: black;
    font-family: Raleway;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 8px;
    position: absolute;
}


.logo {
    position: absolute;
}

.onprem {
    margin-left: 40px;
    margin-top: 160px;
    width: 720px;
}

.public-cloud-1 {
    margin-left: 68px;
    margin-top: 300px;
    width: 650px;
}

.public-cloud-2 {
    margin-left: 180px;
    margin-top: 410px;
    width: 330px;
}

.solution {
    padding-bottom: 105px
}

.icon {
    text-align: center;
    margin-left: 240px;
}

.approach {
    padding: 0;
    height: 320px;
}

.approachdesc {
    color: black;
    font-family: Raleway;
    font-size: 15px;
    font-weight: bolder;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    width: 380px;
    margin-bottom: 135px;
}

.testimonials {
    padding-bottom: 135px
}

.testimonialsheading {
    margin-top: 0px;
}

.comments {
    color: black;
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
    width: 1280px;
}

.first-testimonial {
    width: 170px;
    margin-left: 698px;
    text-align: center;

}

.second-testimonial {
    width: 355px;
    margin-left: 625px;
    text-align: center;

}

.dollar {
    color: rgb(48, 187, 48);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.plan {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: Raleway;
}

.contactdiv {
    margin-top: 120px;
    background-color: rgb(241, 239, 239);
}

.contactinfo {
    color: black;
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 60px;
    text-align: center;
}

.contactdetails {
    color: black;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 50px;
    text-align: center;
}

.contactbutton {
    margin-top: 70px;
    margin-left: 330px;
    position: absolute;

}